* {
    margin: 0px;
    padding: 0px;
}

.head {
    width: 100%;
    height: 40px;
}

.head-nav-top {
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    line-height: 40px;
}

.head-nav-top-left {
    width: 70%;
    height: 50px;
    margin: auto;

}

.greet {
    display: inline-block;
}

#fl {
    width: 40px;
    text-decoration: none;
    margin-left: 10px;
}

a {
    cursor: default
}

#fl:hover {
    color: #ffc600;

}

#f2:hover {
    color: #ffc600;

}

#f3:hover {
    color: #ffc600;

}

#f2 {
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

#f3 {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

#f4 {
    text-decoration: none;
    color: black;
}

#f4:hover {
    color: #ffc600;

}


.head-nav-top-right {
    height: 40px;
    display: inline-block;
    float: right;
}

.myfc {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.myfc:first-child {
    text-align: center;
}

.innav {
    width: 95px;
    height: auto;
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    z-index: 2;
}

.innav>li {
    color: #f8f8f8;
}

.innav>li:hover {
    color: #ffc600;
}

.innav a {
    color: #f8f8f8;
    text-decoration: none;
}

.innav a:hover {
    color: #ffc600;
    text-decoration: none;
}

/* 导航栏 */

.head-nav {

    width: 100%;
    height: 100px;
    background-color: #ffffff;
}


.head-nav-box {
    width: 70%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.head-nav-box-ul {
    width: auto;
    height: 100px;
}

.head-nav-box-ul img {
    margin-top: 25px;
    vertical-align: top;
}

.nav2 {

    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.head-nav-box ul li {
    list-style: none;
    float: left;
    margin-left: 20px;

}


.innav2 li {
    font-size: 15px;
    text-align: center;
    margin: 7px;
}

#a {
    color: #f8f8f8;
    text-decoration: none;
}

#a:hover {
    color: #ffc600;
    text-decoration: none;
}

.nav_li a {
    font-size: 20px;
}

.nav_li img {
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin-top: 5px;
    color: rgb(205, 205, 28);
}

.im {
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin-top: 14px;
    color: rgb(205, 205, 28);
}

.head-nav-box ul li a {
    font-size: 20px;
}

.innav2 {
    width: 110px;
    height: auto;
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    line-height: 20px;
    z-index: 20;

}

.nav_li {
    width: 110px;
}

.innav2>li {
    color: #f8f8f8;
}

.innav2>li:hover {
    color: #ffc600;
}

/* 轮播图 */
.carousel-inner img {
    margin-top: 0px;
    width: 100%;
    height: 400px;
    z-index: 0;
}


/*优势区*/

.ysq {
    width: 70%;
    height: 100px;
    margin: auto;
    border-color: aliceblue;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.block1 {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: 100px;
    border: 1px solid #b3b3b3;
    line-height: 100px;
    margin-right: 20px;

}


.blockimg img {
    width: 80px;
    height: 80px;

}

.blockimg {
    width: auto;
    height: auto;
    padding-left: 10px;
}

.blockcontext {
    padding-top: 25px;
}



.block2 {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: 100px;
    border: 1px solid #b3b3b3;
    line-height: 100px;
    margin-right: 20px;

}


.block3 {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: 100px;
    border: 1px solid #b3b3b3;
    line-height: 100px;
    margin-right: 20px;

}

.block4 {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: 100px;
    border: 1px solid #b3b3b3;
    line-height: 100px;
    margin-right: 20px;


}

/*  标签栏 */
.bql {
    margin-top: 80px;
}

.container {
    width: 100%;
    margin: auto;
}

.con-img {
    width: 100%;
    height: 400px;
}

footer {
    width: 100%;
    height: 300px;
    margin-top: 100px;

}

footer img {
    width: 100%;
    height: 300px;
}