* {
    margin: 0px;
    padding: 0px;
}

.head {
    width: 100%;
    height: 40px;
}

.head-nav-top {
    width: 100%;
    height: 40px;
    background: #f8f8f8;
    line-height: 40px;
}

.head-nav-top-left {
    width: 70%;
    height: 50px;
    margin: auto;
}

.greet {
    display: inline-block;
}

#fl {
    width: 40px;
    text-decoration: none;
    margin-left: 10px;
}

a {
    cursor: default
}

#fl:hover {
    color: #ffc600;

}

#f2:hover {
    color: #ffc600;

}

#f3:hover {
    color: #ffc600;

}

#f2 {
    text-decoration: none;
    margin-right: 10px;
    color: black;
}

#f3 {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

#f4 {
    text-decoration: none;
    color: black;
}

#f4:hover {
    color: #ffc600;

}


.head-nav-top-right {
    height: 40px;
    display: inline-block;
    float: right;
}

.myfc {
    display: inline-block;
    list-style: none;
    text-align: center;
}

.myfc:first-child {
    text-align: center;
}

.innav {
    width: 95px;
    height: auto;
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    z-index: 2;
}

.innav a {
    color: #f8f8f8;
    text-decoration: none;
}

.innav a:hover {
    color: #ffc600;
    text-decoration: none;
}

.innav>li {
    color: #f8f8f8;
}

.innav>li:hover {
    color: #ffc600;
}

.info li a {
    color: #000000;
    text-decoration: none;
}

.info li a:hover {
    color: #ffc600;
}

/* 导航栏 */

.head-nav {

    width: 100%;
    height: 100px;
    background-color: #ffffff;
}


.head-nav-box {
    width: 70%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.head-nav-box-ul {
    width: auto;
    height: 100px;
    border-bottom: 2px solid #ffc600;
}



.head-nav-box-ul img {
    margin-top: 25px;
    vertical-align: top;
}

.nav2 {

    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.head-nav-box ul li {
    list-style: none;
    float: left;
    margin-left: 20px;

}


.innav2 li {
    font-size: 15px;
    text-align: center;
    margin: 7px;
}

.nav_li a {
    font-size: 20px;
}

.nav_li img {
    height: 20px;
    width: 20px;
    vertical-align: top;
    margin-top: 5px;
    color: rgb(205, 205, 28);
}

.im {
    height: 15px;
    width: 15px;
    vertical-align: top;
    margin-top: 14px;
    color: rgb(205, 205, 28);
}

.head-nav-box ul li a {
    font-size: 20px;
}

.innav2 {
    width: 110px;
    height: auto;
    position: absolute;
    display: none;
    list-style: none;
    background-color: rgba(30, 30, 30, 0.5);
    text-align: center;
    border-radius: 10px;
    padding: 0;
    line-height: 20px;
    z-index: 20;

}

.nav_li {
    width: 110px;
}

.innav2>li {
    color: #f8f8f8;
}

.innav2>li:hover {
    color: #ffc600;
}


/* 个人信息 */
.info {
    width: 100%;
    height: 500px;
    margin-top: 30px;
}

.info-context {
    width: 70%;
    height: 500px;
    margin: auto;
    position: relative;
}

/* 个人信息左边 */

.info-left {
    position: absolute;
    width: 190px;
    height: 500px;
    display: inline-block;
}




.info-nav {
    list-style: none;

}

.info-nav li {
    width: 190px;
    height: 65px;
    border: 1px solid #dedede;
    text-align: center;
    line-height: 65px;
}

.info-innav {
    list-style: none;
}

.info li:hover {
    color: #ffc600;
}





/* 个人信息右边 */
.info-right {
    position: absolute;
    width: 850px;
    height: 580px;
    left: 220px;
    display: inline-block;
    border: 1px solid #dddddd;
}


.info-right-title {
    width: 848px;
    height: 30px;
    background: #f8f8f8;
    line-height: 30px;
}


.s1 {
    margin-left: 30px;
}

.s2 {
    margin-left: 150px;
}

.s3 {
    margin-left: 140px;
}

.s4 {
    margin-left: 120px;
}

.s5 {
    margin-left: 50px;
}


#con{
    text-align: center;
}







/* 页尾 */

footer {
    width: 100%;
    height: 300px;
    margin-top: 100px;

}

footer img {
    width: 100%;
    height: 300px;
}